.Seoul:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(209, 61, 56, 0.521);
}

.Busan:hover {
  transition: 0.2s ease-in-out;
  fill: #388cd185;
}

.Daegu:hover {
  transition: 0.2s ease-in-out;
  fill: #3cc95f85;
}

.Incheon:hover {
  transition: 0.2s ease-in-out;
  fill: #c052c485;
}

.Gwangju:hover {
  transition: 0.2s ease-in-out;
  fill: #52c4ab85;
}

.Daejeon:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(196, 194, 82, 0.522);
}

.Ulsan:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(48, 204, 196, 0.522);
}

.Gyeonggi:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(38, 117, 163, 0.522);
}

.Gangwon:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(42, 153, 85, 0.522);
}

.North-Chungcheong:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(127, 42, 153, 0.522);
}

.South-Chungcheong:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(61, 66, 139, 0.522);
}

.South-Jeolla:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(161, 173, 45, 0.522);
}

.North-Gyeongsang:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(49, 173, 45, 0.522);
}

.South-Gyeongsang:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(218, 55, 27, 0.522);
}

.North-Jeolla:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(53, 45, 173, 0.522);
}

.Sejong:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(173, 45, 166, 0.522);
}

.Jeju:hover {
  transition: 0.2s ease-in-out;
  fill: rgba(173, 45, 166, 0.522);
}

.land {
  background-color: red;
}
