.country__description {
  line-height: 1.5;
}

.country__name {
  padding-bottom: 10px;
  margin-top: 8px;
  border-bottom: 3px solid #20398b;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-20%);
  transition: all 700ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}
