.about__container {
  height: 80vh;
  padding: 100px 50px 50px;
  background-color: #ffffff;
  h2 {
    padding-bottom: 1rem;
    border-bottom: 3px solid #1f3b77c7;
    margin-bottom: 12px;
  }
}

.about__content__container {
  display: flex;
  height: 500px;
}

.about__content {
  margin-left: 30px;
}

.about__danger {
  transition: 0.2s ease-in-out;
  height: 330px;
  border-radius: 12px;
  position: relative;
  display: inline-block;
}

.about__danger:hover {
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 8px 8px 5px 0px rgb(104, 104, 104, 0.7);
  -moz-box-shadow: 8px 8px 5px 0px rgb(104, 104, 104, 0.7);
  box-shadow: 8px 8px 5px 0px rgb(104, 104, 104, 0.7);
}
