.clock__container {
  background-color: rgba(82, 82, 82, 0.7);
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  height: 80px;
  width: 300px;
  border-radius: 12px;
  color: white;
}
